{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'base/login_register.css' %}">
</head>
<body>
    <div class="content">
        <h1>
            Witaj!
        </h1>
        <p class="hello">
            Zaloguj się do swojego konta, aby w pełni korzystać z Twittera.
        </p>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ login_form }}
            <input type="submit" value="zaloguj" id="login">
        </form>
    </div>
</body>
</html>